button._tap_rate_button {
    color: #eee;
    justify-content: center;
    align-items: center;
    vertical-align: top;
}

div#player-controls button._tap_rate_button {
    margin: 0 8px;
}

div._tap_rate_button_container {
    display: flex;
    height: 40px;
}

div#player-controls div._tap_rate_button_container {
    border-radius: 24px;
    background: rgba(0, 0, 0, 0.3);
    text-shadow: 0 0 2px #000;
}

button._tap_rate_button._tap_rate_active {
    color: #ff8983;
}