button._tap_rate_button {
    color: #eee !important;
    justify-content: center !important;
    align-items: center !important;
    vertical-align: top !important;
}

button._tap_rate_button._tap_rate_active {
    color: #ff8983 !important;
}